.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;

  ul {
    list-style: initial;
  }

  img {
    display: initial;
  }

  .date {
    margin-right: 0.5rem;
    font-size: 0.8rem;
    color: #999;
  }

  .tag {
    margin-right: 0.5rem;
    font-size: 0.8rem;
    color: #999;
  }

  :global {
    .highlight-header,
    .line-number {
      display: none;
    }

    .phone-img {
      max-width: 400px;
    }
  }
}

@media screen and (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}

.post-body {
  :global {
    .Layout {
      --Layout-sidebar-width: 220px;
      --Layout-gutter: 16px;
      display: grid;
      grid-template-columns:
        minmax(
          0,
          calc(100% - var(--Layout-sidebar-width) - var(--Layout-gutter))
        )
        auto;
      gap: var(--Layout-gutter);
    }

    .Layout-main {
      grid-column: 1;
      & > *:first-child {
        margin-top: 0;
      }
    }

    .Layout-sidebar {
      grid-column: 2;

      ul,
      ol {
        li {
          list-style: disc;

          a {
            color: #24292f;
            &:hover {
              color: #0969da;
            }
          }
        }
      }
    }

    @media screen and (max-width: 767px) {
      .Layout {
        // 1fr will make inner table spread width
        grid-template-columns: 100%;
        grid-auto-flow: row;
      }

      .Layout-main {
        grid-row: 1;
      }

      .Layout-sidebar {
        grid-column: 1;
        grid-row: 2;
      }
    }

    @media screen and (min-width: 1012px) {
      .Layout {
        --Layout-sidebar-width: 296px;
        --Layout-gutter: 24px;
      }
    }
  }
}
