.header {
  flex: 1;
  overflow: hidden;
  position: relative;
  text-align: center;
  min-height: 400px;
  padding: 1rem;

  .nav {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 767px) {
      align-items: flex-start;
    }
  }

  .list {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
      flex-direction: row;
      gap: 0.5rem;
    }
  }

  .docSearch {
    display: flex;
    font-size: 1rem;
    :global(.DocSearch-Button) {
      border-radius: 0.25rem;
      margin-left: 0;

      :global(.DocSearch-Button-Keys) {
        min-width: 40px;
      }

      :global(.DocSearch-Button-Key:nth-child(2)) {
        margin-right: 0;
      }
    }
  }

  .backstretch {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-size: cover;
    background-position: center;
    opacity: 0.7;
    opacity: 0.5;
  }

  @media screen and (min-width: 768px) {
    flex: 1;
    overflow: hidden;
    text-align: right;
    min-height: 0;
    padding: 40px;
  }

  a,
  h1,
  p,
  nav {
    position: relative;
    z-index: 2;
  }

  img {
    &.logo {
      width: 72px;
      height: 72px;
      border-radius: 50%;
    }
  }

  h1 {
    font-size: 3.5em;
    margin-top: 20px;
    line-height: 1em;
    letter-spacing: -1px;
    text-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
  }

  nav {
    ul {
      list-style: none;
      margin: 0 0 0.25rem 0;
      padding: 0;
      li {
        display: inline-block;
        padding: 12px 0 12px 12px;
        font-size: 1.3em;
        &:after {
          content: ".";
          padding-left: 12px;
        }
        &:last-child {
          &:after {
            content: "";
          }
        }
        a {
          color: #000;
          &.active,
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .icons {
      display: flex;
      justify-content: right;
      gap: 0.5rem;
      svg {
        &:hover {
          fill: #0969da;
          transition: fill 0.3s ease;
        }
      }
    }
  }

  nav {
    ul {
      li {
        display: block;
        line-height: 1.6em;
        padding: 0;
        &:after {
          content: "";
          padding: 0;
        }
      }
    }
  }

  @keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-240px, -240px, 0);
    }
  }

  .space {
    animation: slide 8s linear infinite;
    background-image: url("./images/stars.svg");
    background-position: center center;
    background-size: 240px;
    height: 400%;
    left: 0;
    position: absolute;
    top: 0;
    width: 400%;
    z-index: 1;
  }
}
